.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F9FA;
    padding: 0 14rem;
}

.menu {
    background: #F8F9FA;
    width: 40%;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .container > div {
        margin-left: 1rem;
    }
    .menu {
        width: 25%;
    }
}